<section class="desc">
  <h1 class="desc__title">
    <a class="underline" href="https://github.com/cideM/">Florian Beeres</a>
  </h1>
  <p class="desc__subtitle">Haskell, Javascript</p>
</section>
<ol class="toc">
  {{#posts}}
  <li class="toc__entry">
    <a class="underline" href="/{{postDir}}index.html"
      >{{frontmatter.date}}: {{frontmatter.title}}</a
    >
  </li>
  {{/posts}}
</ol>
